/*--------------------------------------------- Body Section Style Here ----------------------------------------------------*/
body
{
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
    color: #575757;
}
html
{
    scroll-behavior: smooth;
}

/*--------------------------------------------- Navigation Bar Style Here ----------------------------------------------------*/
.nav-links
{
    width: 100%;    
    display: flex;  
    justify-content: flex-start;
    background-color: white;
    position: fixed;
    padding-left: 6%;
    box-shadow: 1px 1px 15px rgba(199, 199, 199, 0.952);
    justify-content: space-between;
}
.logo
{
    margin-right: 50px;
    font-family: 'Permanent Marker', cursive;
    font-size: 20px;
    font-weight: 700;
    padding-left: 10px;
    justify-content: flex-start;
}
.nav-right
{
    display: flex;
    margin-left: 400px;
}
.logo a
{
    background: -webkit-linear-gradient(yellow,red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    letter-spacing: 3px;
}
.logo a:hover
{
    background: -webkit-linear-gradient(left, #0072ff, #00c6ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.nav-links ul
{
    list-style: none;
    display: flex;
}
.nav-connect
{
    padding: 5px 20px;
}
.nav-connect::after
{
	content: '';
	width: 0%;
	height: 3px;
	background-color: orangered;
	display: block;
	margin: auto;
}
.nav-links a
{
    text-decoration: none;
    color: #575757;
    font-weight: 600;
    padding: 20px 5px;
}
.nav-links ul li:hover::after
{
	width: 100%;
	transition: 0.5s;
}
.nav-links ul li a:hover
{
    color: orangered;
}

/*--------------------------------------------- Top Banner Section Style Here ----------------------------------------------------*/
.top-banner
{
    display: flex;
    height: 800px;
    padding-top: 5%;
    background-image: url("images/shapes/header-bg.png");
    background-size: cover  ;
    background-position: center;
    background-repeat: no-repeat;
    padding-right: 5%;
}
.half-width
{
    width: 50%;
}
.top-banner img
{
    width: 100%;
    padding-left: 3%;
}
.top-left
{
    display: flex;
    justify-content: center;
    padding-top: 8%;
    padding-left: 10%;
}
.top-left h1
{
    font-size: 60px;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 130%;
    margin-bottom: 0;
}
.top-left p
{
    color: #828282;
    font-size: 20px;
    font-weight: 450;
    margin: 0;
    margin-top: 5%;
    margin-bottom: 12%;
    line-height: 160%;
}
.skip
{
    background: -webkit-linear-gradient(orange,rgb(255, 81, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 800;
    cursor: pointer;
}
.skip:hover
{
    background: -webkit-linear-gradient(left, #0072ff, #00c6ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.top-left a
{
    background-image: linear-gradient(90deg,#FBA24F, #FF1E1E);
    padding: 25px 60px;
    text-decoration: none;
    text-align: center;
    border-radius: 50px;
    color: white;
    font-size: 20px;
    font-weight: 600;
}
.top-left a:hover
{
    background-image: linear-gradient(90deg,#FF1E1E, #FBA24F);
}

/*--------------------------------------------- About Section Style Here ----------------------------------------------------*/
.about
{
    background-image: url("images/shapes/7.png");
    background-size: cover;
    background-position: center;
    height: 600px;
    display: flex;
}
.about img
{
    width: 45%;
    padding-left: 30%;
    padding-top: 7.5%;
}
.right-text
{
    width: 70%;
    padding-top: 5%;
    padding-left: 10%;
}
.right-text h1
{
    font-size: 40px;
    font-weight: 750;
    margin-bottom: 10%;
}
.right-text p
{
    font-size: 18px;
    font-weight: 500;
    text-align: justify;
    line-height: 180%;
    margin-bottom: 15%;
}
.right-text a
{
    background-image: -webkit-linear-gradient(right, #0072ff, #00c6ff);
    padding: 25px 60px;
    text-decoration: none;
    text-align: center;
    border-radius: 50px;
    color: white;
    font-size: 20px;
    font-weight: 600;
}
.right-text a:hover
{
    background-image: -webkit-linear-gradient(left, #0072ff, #00c6ff);
}
.fa
{
    margin-right: 20px;
    font-size: 22px;
}
.name
{
    font-weight: 800;
}

/*--------------------------------------------- Recipies Section Style Here ----------------------------------------------------*/
.recipies
{
    height: 1100px;
    background: url("images/shapes/latest-work-bg.png");
    background-size: cover;
    background-position: center;
}
.recipies-text
{
    width: 50%;
    text-align: center;
    display: block;
    margin: auto;
    padding-top: 4%;
}
.recipies-text h1
{
    font-size: 40px;
    font-weight: 750;
}
.recipies-text p
{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 7%;
    line-height: 160%;
}
.recipies-img
{
    display: flex;
    justify-content:center;
}
.box
{
    width: 23%;
    box-shadow: 1px 1px 15px rgba(199, 199, 199, 0.952);
    padding: 20px;
    border-radius: 30px;
    margin: 0px 30px;
    background: white;
    cursor: pointer;
}
.box h1
{
    font-size: 32px;
    color: #18191F;
    font-weight: 800;
}
.box p
{
    font-size: 18px;
    font-weight: 500;
    line-height: 160%;
    text-align: justify;
}
.box img
{
    width: 100%;
}
.box:hover
{   
    box-shadow: 1px 1px 15px cyan;
}

/*--------------------------------------------- Contact Section Style Here ----------------------------------------------------*/
.contact
{
    display: flex;
    height: 750px;
    justify-content: center;
    align-items: center;
    background: -webkit-linear-gradient(right, #56a2ffa2, #baf0ff8f);
    padding-top: 5%;
}
.contact-container
{
    display: flex;
    width: 60%;
    height: 85%;
    align-items: center;
    box-shadow: 1px 1px 15px rgba(199, 199, 199, 0.952);
    border-radius: 30px;
    background: white;
}
.contact-left
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
}
.contact-right
{
    text-align: center;
    width: 60%;
    font-family: 'Montserrat', sans-serif;
}
.text
{
    padding: 0px 30px;
    height: 55px;
    width: 60%;
    margin-bottom: 20px;
    border-radius: 30px;
    outline: none;
    background: #e6e6e6;
    border: none;
    font-weight: 700;
    font-size: 15px;
    line-height: 1.5;
    color: #666666;
    overflow:auto;
    text-align: left;
    cursor: text;
    font-family: 'Montserrat', sans-serif;
    transition: 0.3s;
}
.text:focus
{
    width: 70%;
}
.fas
{
    position: relative;
    left: 10px;
    transition: 0.3s;
}
.text:focus
{
    box-shadow: 2px 2px 20px rgba(0, 255, 255, 0.692);
}
.submit
{
    font-weight: 700;
    font-size: 15px;
    padding: 15px 70px;
    border-radius: 30px;
    background: green;
    color: white;
    border: none;
    cursor: pointer;
}
.submit:hover
{
    background: black;
}
.submit:hover .fas
{
    left: 25px;
}
#message
{
    min-height: 150px;
    padding-top: 25px;
    padding-bottom: 15px;
    font-weight: 700;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
}

/*--------------------------------------------- Followers Section Style Here ----------------------------------------------------*/
.followers
{
    height: 350px;
    display: flex;
    justify-content: center;
    align-items:baseline;
    padding-top: 5%;
    background: -webkit-linear-gradient(right, #56a2ffa2, #baf0ff8f);
}
.followers-div
{
    width: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 15px rgba(199, 199, 199, 0.952);
    border-radius: 30px;
    background: white;
}
.small-div
{
    margin: 0px 9%;
    padding: 40px 0;
}
.small-div h1
{
    font-size: 48px;
    font-weight: 800;
    color: #18191F;
    margin-bottom: 5%;
    cursor: pointer;
}
.small-div p
{
    font-size: 16px;
    font-weight: 500;
    color: #18191F;
}
.small-div h1:hover
{
    background: -webkit-linear-gradient(left, #0072ff, #00c6ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/*--------------------------------------------- Footer Section Style Here ----------------------------------------------------*/
footer
{
    text-align: center;
    background: #0B0D17;
    padding: 20px 0px 0px 0px;
}
footer h1
{
    font-size: 30px;
    font-weight: 700;
    color: #5B5B5B;
    margin-bottom: 45px;
}
.footer-text
{
    font-size: 16px;
    font-weight: 200;
    color: white;
    letter-spacing: 2px;
}
.food
{
    background: -webkit-linear-gradient(#FBA24F,#FF1E1E);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 800;
    cursor: pointer;
}
.food:hover
{
    background: -webkit-linear-gradient(left, #0072ff, #00c6ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.credit
{
    font-size: 15px;
    font-weight: 200;
    letter-spacing: 1px;
    color: white;
    margin: 120px 0 0 0;
    padding-bottom: 20px;
}